#clubPage {
  padding: 30px 40px 0;
}

.clubIcon {
  height: 60px;
  width: auto;
  padding-left: 10px;
}

.userClub {
  padding: 10px;
}

.hobbyCover {
  width: 120px;
  height: auto;
}

a {
  font-size: xx-large;
  color: #d9ccc1;
  text-decoration: none;
}

.currentHobby {
  font-size: larger;
}

@media (max-width: 600px) {
  a {
    font-size: larger;
  }

  .hobbyBox {
    display: flex;
    gap: 15px;
    padding: 10px 0 25px 20px;
  }

  .currentHobby {
    font-size: medium;
  }

  .clubIcon {
    height: 30px;
  }

  .hobbyCover {
    width: 70px;
    height: auto;
  }
}