#clubHeader {
  align-items: center;
  background-color: #024059;
  display: flex;
  justify-content: space-around;
  padding: 20px 0px 20px 0px;
}

#clubHeader *{
  background-color: #024059;
}

.leftHeader {
  display: flex;
  flex-direction: column;
}

button {
  all: unset
}
