

.clubHeaderComponent {
  position: fixed;
  width: 100%;
}

.clubBody {
  display: flex;
  padding-top: 170px;
}

.clubHobbiesComponent {
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 100px;
  position: fixed;
}

.messagesComponent {
  padding-left: 290px;
  padding-bottom: 20px;
  width: 100%
}

.membersList {
  padding-right: 10px;
}

.addHobbySection {
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  display: flex;
  top: 15%;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  flex-direction: column;
  justify-items: center;
  padding-bottom: 225px;
  position: fixed;
  z-index: 1;
}

.clubIconList {
  height: 40px;
  padding-left: 10px;
}

.noneWindow {
  display: none;
}

@media (max-width: 860px) {
  .clubBody {
    flex-direction: column
  }

  .menuList {
    display: flex;
    gap: 35px;
    padding: 0px 0px 20px 40px;
  }

  .clubHobbiesComponent {
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    display: flex;
    top: 15%;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    flex-direction: column;
    justify-items: center;
    padding-bottom: 225px;
    position: fixed;
    z-index: 1;
  }

  .membersList {
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    display: flex;
    top: 15%;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    flex-direction: column;
    justify-items: center;
    padding-top: 30px;
    position: fixed;
    z-index: 1;
  }

  .messagesComponent {
    padding: 0px 20px 20px 20px;
    width: 100%
  }
}