#header *{
  background-color: #024059;
}

#header {
  background-color: #024059;
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}

.showMsgBtn {
  all: unset;
}

.icons {
  display: flex;
  gap: 20px;
  padding-top: 7px;
}

.headerImg {
  height: 40px;
}

@media (max-width: 600px) {
  .icons {
    padding-top: 4px;
  }
  .headerImg {
    height: 30px;
  }
}
