#hobbiesSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
  width: 325px;
}

#hobbiesSection * {
  padding: 5px;
  border-radius: 5%;
}

.hobbyContainer {
  background-color: #1F4373;
}

.hobbyContainer * {
  background-color: #1F4373;
}

.hobbyContainerCurrent {
  background-color: #0656BF;
}

.hobbyContainerCurrent * {
  background-color: #0656BF;
}

.nameSection {
  /* all: unset; */
  align-items: start;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.typeIcon {
  height: 35px;
}