#hobbiesSection {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px 5px 80px 5px;
  width: 275px;
  height: auto;
}


#hobbiesSection * {
  padding: 5px;
  border-radius: 5%;
}

.selectedHobby {
  box-shadow: 5px 5px;
}

.hobbyContainer {
  align-items: center;
  background-color: #1F4373;
  display: flex;
  justify-content: space-around;
  width: 250px;
}

.hobbyContainer * {
  background-color: #1F4373;
}

.hobbyContainerCurrent {
  align-items: center;
  background-color: #0656BF;
  display: flex;
  justify-content: space-around;
  width: 250px;
}

.hobbyContainerCurrent * {
  background-color: #0656BF;
}

.nameSection {
  align-items: start;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.typeIcon {
  height: 35px;
}