.hobbyMessageBody {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 14px;
}

.hobbyMessage{
  background-color: #0a213e;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  width: auto;
}

.hobbyMessage * {
  background-color: #0a213e;
}

.messageHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 7px;
}

@media (max-width: 860px) {
  /* .messageHeader {
    font-size: xx-small;
  }

  .messageUserLink {
    font-size: medium;
  }
  
  .hobbyMessageBody {
    font-size: small;
  } */
}