* {
  background-color: #023e73;
  color: #d9ccc1;
}

#loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20%;

  @media (max-width: 820px) {
    padding-top: 50%;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 15px;
  background-color: #024059;
  border-radius: 5%;
}

.loginForm input[type="text"],
.loginForm textarea {
  background-color: #bf6415;
}

.loginForm input,
.loginForm select,
.loginForm textarea {
  color: #d9ccc1;
  margin: 5px 20px 20px 20px;
}

#errorMessage {
  padding-bottom: 15px;
}

.btnClass {
  padding: 5px 15px;
  color: #d9ccc1;
}

.buttonsDiv {
  display: flex;
  gap: 20px;
}